.btn-primary {
    background: #65A7A0;
    border: 1px solid;
    border-radius: 50px;
}

.btn-primary:hover {
    background: #ffffff;
    color: #65A7A0;
    border-color: #65A7A0;
}

#Et-a{
    color: #ffffff;
}

#Et-a:hover{
    color: #000000;
}

#var-style{
    background: #65A7A0;    
}

.img-Loan{
    height: 50px;
}

.btn-primary{
    width: 150px;
    background-position-y: right;
}

.search-inp{
    border-radius: 100px;
    align-content: center;
}

#Title_CL{
    color: #65A7A0;
}

h6 span {
    color: red;
    opacity: 50%;
}

.span-etiq{
    color: red;    
}

.container{
    margin-top: -20px;
}